<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        video {
            max-width: 100%;
            max-height: 100%;
        }

        @media (max-width: 768px) {
            video {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>
<body>

<video width="640" height="360" controls>
    <source src="{{file_url}}" type="video/mp4">
</video>

</body>
</html>
